.Home {
  background-image: url('assets/nutrition.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lander {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: black;
}
.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


/* // <weight>: Use a value from 100 to 900 */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



.sign-in-btn {
  padding: 10px 30px;
  /* background-color: #63804B; */
  border: none;
  font-size: 1.5rem;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #63804B;
  color: black;
}