.Home {
  background-image: url('assets/nutrition.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lander {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: black;
}

.sign-in-btn {
  padding: 10px 30px;
  background-color: #63804B;
  color: white;
  border: none;
  border-radius: 15px;
}

/* .navbar_logo {
  height: 100px;
  width: auto;
  padding-right: 10px;
  
} */